html,body,header,#intro{
    height: 100%;
}
#intro{
    background: url(https://images.unsplash.com/photo-1525642351754-db88d9142dee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1764&q=80) no-repeat center fixed;
     background-size: 100% 100%;
}

#examples{
    background: black no-repeat center fixed;
     background-size: 100% 100%;
}
#gallery {
    background:black no-repeat center fixed;
    color: white;
}
.white{
    color: black;
}
.black{
background-color: white;
color: black;
}
.hr-footer
{
    background-color: black;
}
.loginButton{
    padding-left: 1rem;
    padding-right: 1rem;
}
.loginButtonText{
    font-size: 120%;
}

#contact{
    background-color: black;
}
#textaria{
    color: white;
}
a{
    color: black;
}
.bottomborder{
    border-bottom: 10px  solid #35E2DF;
    width: 50%;
}
.bottomborder1{
    border-bottom: 10px  solid #35E2DF;
    width: 100%;
}
nav{
    background-color: black;
}
/* .loginButton{
  background-color: white;
  color:black;
  font-size: 130%;
} */
.top-nav-collapse
{
    background-color: black;
    border-bottom: 1px  solid #35E2DF;
}
@media(max-width:768px){
    navbar:not(.rop-nav-collapse){
        background: black;
        border-bottom: 1px  solid #35E2DF;
    }
    #intro{
    background: url(https://images.unsplash.com/photo-1525642351754-db88d9142dee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1764&q=80) no-repeat center fixed;

    }
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
    @media(min-width:769px){.i
    {
        height: 300px;
    }
}
.wrapper {
    display: flex;
    
    align-items: stretch;
}

/* #sidebar {
    min-width: 250px;
    max-width: 250px;
} */

#categoriesBar
{
    margin-left: -250px;
    transition: 0.5s;
}
#preferredCategories {
    z-index: 2; 
}

/* .invisibleBorder {
    font-size: 29px;
} */

@media only screen and (min-width: 576px) {
    #categoriesBar {
        margin-left: 0px;
        transition: 0.5s;
    }
    .invisibleBorder {
        
        border-right: black solid 2px;
    }
}
#main {
    transition: 0.5s;
}


/* #openCloseIcon:hover {
    opacity: 1;
} */

#sidebar.active {
    margin-left: -250px;
}
#preferredCategories {
    min-height: 100vh;
}

